* {
    box-sizing: border-box;
}
/* Variable definitions */
:root {
    --bkg-color:rgb(55, 81, 105);
    --txt-color:rgb(55, 81, 105);
    --bg-txt-color:rgb(85, 182, 182);
    --rev-txt-color:rgb(85, 182, 182);
    --small-margin: .5em;
    --default-margin: 1em;
    --underline-tickness: .2em;
    --line-height: 1.5em;
}

/* Combined settings for header and nav */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bkg-color);
}

h1 {
    background-color: var(--bg-txt-color);
    padding: var(--small-margin);
    margin-left: var(--small-margin);
    color: var(--txt-color);
}

header nav {
    margin: 3em 1em 3em 1em;

}
header nav a{
    text-decoration: none;
    font-size: larger;
    border-bottom: var(--underline-tickness) solid;
    margin: 1em;
    color: var(--rev-txt-color);
    text-align: center;
}

/* About Me section */
#about {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin-top: var(--default-margin);
}

#about h2 {
    text-align: right;
    width: 15%;
    margin-right: var(--small-margin);
}

#about p {
    width: 80%;
    padding-left: var(--small-margin);
    text-align: left;
    border-left: var(--underline-tickness) solid var(--bkg-color);
}


@media screen and (max-width: 768px) {
    header nav a{
        flex-direction: column;
        font-size: medium;
        line-height: var(--line-height);
    }
}