* {
    box-sizing: border-box;
}
/* Variable definitions */
:root {
    --bkg-color:rgb(55, 81, 105);
    --txt-color:rgb(55, 81, 105);
    --bg-txt-color:rgb(85, 182, 182);
    --rev-txt-color:rgb(85, 182, 182);
    --border-color:rgb(85, 182, 182);
    --small-margin: .5em;
    --default-margin: 1em;
    --underline-tickness: .2em;
    --line-height: 1.5em;
}

header, main, footer, p, a {
    color: var(--txt-color);
}

/* Combined settings for header and nav */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bkg-color);
}

header img {
    border-radius: 50%;
    margin: var(--small-margin);
}

h1 {
    background-color: var(--bg-txt-color);
    padding: var(--small-margin);
    margin-left: var(--small-margin);
    color: var(--txt-color);
}

header nav {
    margin: 3em 1em 3em 1em;

}
header nav a{
    text-decoration: none;
    font-size: larger;
    border-bottom: var(--underline-tickness) solid;
    margin: var(--default-margin);
    color: var(--rev-txt-color);
    text-align: center;
}

/* banner defined in figure semanic tag */
figure {
    display: flex;
    position: relative;
    height: 10em;
    width: 100%;
    background-image: url("../img/20160906_092255.jpg");
    background-size: cover;
    background-position:center;
}

figure h2 {
    position: absolute;
    bottom: var(--default-margin);
    right: var(--default-margin);
    background-color: var(--bg-txt-color);
    padding: var(--small-margin)
}

/* About Me section */
#about {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin-top: var(--default-margin);
}

#about h2 {
    text-align: right;
    width: 15%;
    margin-right: var(--small-margin);
}

#about p {
    width: 80%;
    padding-left: var(--small-margin);
    text-align: left;
    border-left: var(--underline-tickness) solid var(--bkg-color);
}

/* Work and projects are nested flex boxes */
#work {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin-top: var(--default-margin);    
}

#work h2 {
    text-align: right;
    width: 15%;
    margin-right: var(--small-margin);    
}

/* projects main container */
#projects {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 80%;
    padding-left: var(--small-margin);
    /* margin-top: var(--default-margin);   */
    border-left: var(--underline-tickness) solid var(--bkg-color);
}

/* all projects opacity set to 50% by default  */
#projects img {
    opacity: 0.5;
}

 /* settings for main project */
.main-project {
    position: relative;
    width: 97%;
    height: 465px;
    /* background-image: url("../img/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position:center; */
    border: .5em solid var(--border-color);
    margin: 0 1em 1em 0;
}

 /* Settings for other projects */
.other-project {
    position: relative;
    width: 48%;
    height: 235px;
    /* opacity: 0.5; */
    /* background-image: url("../img/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position:center; */
    border: .5em solid var(--border-color);
    margin: 0 1em 1em 0;
}

/* text box on flex image */
.main-project div,
.other-project div {
    position: absolute;
    bottom: 2em;
    line-height: 1.5em;
    padding: 1em;
    background-color: var(--bg-txt-color);
}

/* Hovering on each project changing opactity */
#proj1:hover img,
#proj2:hover img, 
#proj3:hover img, 
#proj4:hover img, 
#proj5:hover img{
    opacity: 1;
}

/* footer to show contacts and associated links */
footer {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin-top: var(--default-margin);
    margin-bottom: var(--default-margin);
}

footer h2 {
    text-align: right;
    width: 15%;
    margin-right: var(--small-margin)
}

footer nav {
    /* display: flex; */
    position: relative;
    /* flex: grow; */
    width: 80%;
    padding-left: var(--small-margin);
    text-align: center;
    border-left: var(--underline-tickness) solid var(--bkg-color);
}
footer nav a{
    text-decoration: none;
    font-size: medium;
    /* ******* */
    /* flex-grow: 1;*//* need to ask */
    border-bottom: var(--underline-tickness) solid;
    margin: var(--default-margin);
    color: var(--txt-color);
}

@media screen and (max-width: 768px) {
    header nav,
    footer nav{
      flex-direction: column;
      line-height: var(--line-height);
    }
    .other-project {
        width: 97%;
    }
}



@media screen and (max-width: 320px) {
    header nav,
    footer nav {
      flex-direction: column;
      line-height: var(--line-height);
    }

    .other-project {
        width: 97%;  
    }

    h2 {
        font-size: small;
    }
}


